#form-product {
    margin: 20px 0px 0px 0px;
    padding: 40px;

    width: 400px;
    height: 550px;
    
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.form-group {
    margin: 0px 0px 20px 0px;
}

#btn-submit {
    margin: 20px 0px 0px 0px;
}